#start-execution-block, #contact-date-block {
    display: none;
}

.color-blueStretchyIcon{
color: rgb(30,152,255);
}
.color-darkGreenStretchyIcon{
color: rgb(27,173,3);
}
.color-redStretchyIcon{
color: rgb(237,69,67);
}
.color-violetStretchyIcon{
color: rgb(181,30,255);
}
.color-darkOrangeStretchyIcon{
color: rgb(230,118,27);
}
.color-blackStretchyIcon{
color: rgb(89,89,89);
}
.color-nightStretchyIcon{
color: rgb(14,71,121);
}
.color-yellowStretchyIcon{
color: rgb(255,210,30);
}
.color-darkBlueStretchyIcon{
color: rgb(23,123,201);
}
.color-greenStretchyIcon{
color: rgb(86,219,64);
}
.color-pinkStretchyIcon{
color: rgb(243,113,209);
}
.color-orangeStretchyIcon{
color: rgb(255,147,30);
}
.color-grayStretchyIcon{
color: rgb(179,179,179);
}
.color-lightBlueStretchyIcon{
color: rgb(130,205,255);
}
.color-brownStretchyIcon{
color: rgb(121,61,14);
}
.color-oliveStretchyIcon{
color: rgb(151,161,0);
}

.background-color-blueStretchyIcon{
    background-color: rgb(30,152,255);
}
.background-color-lightGreen{
    background-color: rgb(86,219,64);
}
.background-color-green{
    background-color: rgb(27,173,3);
}
.background-color-darkGreen{
    background-color: #005c0b;
    color: white;
}
.background-color-orange{
    background-color: #FF8C00;
}
.background-color-redStretchyIcon{
    background-color: rgb(237,69,67);
}
.background-color-violetStretchyIcon{
    background-color: rgb(181,30,255);
}
.background-color-yellowStretchyIcon{
    background-color: #FFFF00;
}

.icon-color-blueStretchyIcon:before{
    background-color: rgb(30,152,255);
}
.icon-color-lightGreen:before{
    background-color: rgb(86,219,64);
}
.icon-color-green:before{
    background-color: rgb(27,173,3);
}
.icon-color-darkGreen:before{
    background-color: #005c0b;
}
.icon-color-orange:before{
    background-color: #FF8C00;
}
.icon-color-redStretchyIcon:before{
    background-color: rgb(237,69,67);
}
.icon-color-violetStretchyIcon:before{
    background-color: rgb(181,30,255);
}
.icon-color-yellowStretchyIcon:before{
    background-color: #FFFF00;
}

.status-color-icon{
    padding-left: 25px;
}

.status-color-icon::before {
    content: '';
    border: 1px solid black;
    border-radius: 12px;
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 22px;
    left: -30px;
}

.colored-status {
    border-radius: 15px;
    font-size: 16px;
    padding: 5px;
    background-color: #ffffff;
    outline: none!important;
}

.btn-color-blueStretchyIcon{
    border: 3px solid rgb(30,152,255);
}

.btn-color-yellowStretchyIcon{
    border: 3px solid rgb(255,210,30);
}

.btn-color-violetStretchyIcon{
    border: 3px solid rgb(181,30,255);
}

.flex-box-orders {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-photographer {
    background-color: #dddddd;
}

.schedule-table {
    font-size: 16px;
}

.schedule-photographer {
    cursor: pointer;
    font-weight: bold;
}

.change-price-input {
    border: #d3d9df;
    border-radius: 3px;
    width: 85%;
}

.delete-image-link {
    color: red!important;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none!important;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}